/* genrali */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    height: calc(100vh - 100px);
}

#wrapper::after {
    content: "";
    display: table;
    clear: both;

}

/* regole box navigazione */
#box-navigazione {
    float: left;
    width: 200px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 0 20px;
    
}

#logo{
    height: 70px;
    display: flex;
    align-items: center;
}
#logo img{
    width: 70%;
    margin: 10px 0;
}

#navigazione ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255, .5);
    
}
#navigazione ul li a:hover{
    color: white;
}
#navigazione ul{
    margin-bottom: 20px;
}

#navigazione ul li{
    margin-bottom: 5px;
    list-style-type: none;
}

#playlist {
    color: white;
    
}
#playlist h3 {
    margin-bottom: 6px;
}

.img-navigazione {
    width: 16%;
}

#crea-playlist {
    overflow: auto;
}
#crea-playlist ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255, .5);   

}
#crea-playlist ul li a:hover{
    color: white;
}

#crea-playlist ul li {
    margin-bottom: 15px;
    list-style-type: none;

}

.fa-plus-square {
    font-size: 34px;
}


/* regole box principale */
#box-principale {
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    background-color: #05051c;
    overflow: auto;
    
  
}

/* pulsante upgrade */
#box-upgrade {
    height: 70px;
    width: calc(100% - 200px);
    background-color: rgb(33, 48, 71,.5);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#box-upgrade a{
    text-decoration: none;
    border: white solid 1px;
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    margin-right: 50px;
    font-size: 10px;
}

#box-upgrade a:hover {
    transform: scale(1.5);
}


/* navigazione main */
#navigazione-main {
    margin-top: 70px;
}
#navigazione-main nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50px;
}
#navigazione-main nav ul li {
    margin: 0 10px;
}
#navigazione-main nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255, .5);
    font-size: 80%;
}
#navigazione-main nav ul li a:hover {
    color: white;
}

/* ascoltati di recente */
.centratura{
    padding: 20px;
}

#ascoltati-di-recente {
    color: white;
}
#ascoltati-di-recente h1 {
    margin-bottom: 20px;
}

#canzoni {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.anteprime {
    height: 40%;
    width: calc((100% - 200px) / 6);
    margin-bottom: 80px;
    
}
.anteprime img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}



.anteprime h3,h4 {
    text-align: center;
    margin-bottom: 5px;
}
.anteprime h3{
    color: white;
    font-size: 20%;
}
.anteprime h4 {
    font-size: 10px;
    color: rgb(255, 255, 255, .5);
}

/* mix */
#titolo-mix h1 {
    color: white;
    margin-bottom: 10px;
}
#titolo-mix h3 {
    font-size: 10px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255, .5);
}

#mix {
    display: flex;
    justify-content: space-between;
}
 /* #mix::after {
    content: "";
    display: table;
    clear: both;
}  */
.anteprime-mix {
    /* float: left; */
    height: 40%;
    width: calc((100% - 200px) / 6);
    margin-bottom: 50px;
   
}
.anteprime-mix img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.anteprime-mix h3{
    color: white;
    text-align: center;
}
/* .destra {
    margin-left: 95px;
} */

/* artisti popolari */
.popolari {
    float: left;
    height: 200px;
    width: 200px;
    margin-bottom: 50px;
    
}
.popolari img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.popolari h3{
    color: white;
    text-align: center;
}



/* regole player */

#player{
    display: flex;
    height: 100px;
    background-color: #343333;;
    justify-content: space-between;
}

#box-song {
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
    
}
#img-song {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}
#img-song img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#title-song {
    height: 50px;
    width: 80px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#title-song h4 {
    color: white;
    font-size: 15px;
}
#title-song h5 {
    font-size: 10px;
    color: rgb(255, 255, 255, .5);
}
.fa-heart, .fa-folder {
    color: #727070;;
}
.fa-folder {
    margin-left: 10px;
}

#box-player {
    height: 100%;
    width: 800px;
    
}
#player-button {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#distanziamento {
    width: 38%;
    color: white;
    display: flex;
    justify-content: space-around;
}
#box-progress-bar {
    height: 50%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    
}
#progress {
    width: 80%;
    background-color: #7c7c7c;
    height: 5px;
    border-radius: 25px;
}
#progress #progress-bar {
    height: 100%;
    width: 20%;
    background-color: #05e35e; 
    border-radius: 25px;   
}
#box-progress-bar .minuto {
    color: white;
}
  

#box-volume {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fa-list-ul, .fa-desktop, .fa-volume-up {
    color: white;
}
#volume {
    width: 50%;
    background-color: #7c7c7c;
    height: 5px;
    border-radius: 25px;
}
#volume #volume-bar {
    height: 100%;
    width: 20%;
    background-color: #05e35e; 
    border-radius: 25px;   
}

/* inizio media query */

@media all and (max-width: 878px) {
    #canzoni .anteprime {
        height: 200px;
        width: calc((100% - 200px) / 3);
        margin-bottom: 80px;
    }
}

@media all and (max-width: 639px) {
    #canzoni .anteprime {
        height: 50%;
        width: calc((100% - 200px) / 1);
        margin-bottom: 80px;
    }
}