/* genrali */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    height: calc(100vh - 100px);
}

#wrapper::after {
    content: "";
    display: table;
    clear: both;

}

/* regole box navigazione */
#box-navigazione {
    float: left;
    width: 200px;
    height: 100%;
    background-color: blue;
    padding: 0 20px;
    
}

#logo{
    height: 70px;
    display: flex;
    align-items: center;
}
#logo img{
    width: 70%;
    margin: 10px 0;
}

#navigazione ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255, .5);
    
}
#navigazione ul li a:hover{
    color: white;
}

#navigazione ul li{
    margin-bottom: 5px;
    list-style-type: none;
}

#playlist {
    color: white;
    
}
#playlist h3 {
    margin-bottom: 6px;
}

.img-navigazione {
    width: 16%;
}

#crea-playlist {
    overflow: auto;
}
#crea-playlist ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255, .5);   

}
#crea-playlist ul li a:hover{
    color: white;
}

#crea-playlist ul li {
    margin-bottom: 15px;
    list-style-type: none;

}

.fa-plus-square {
    font-size: 34px;
}


/* regole box principale */
#box-principale {
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    background-color: brown;
    overflow: auto;
    
  
}

/* pulsante upgrade */
#box-upgrade {
    height: 70px;
    width: calc(100% - 200px);
    background-color: rgb(33, 48, 71,.5);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#box-upgrade a{
    text-decoration: none;
    border: white solid 1px;
    color: white;
    padding: 10px 30px;
    border-radius: 30%;
    margin-right: 50px;
    font-size: 10px;
}

#box-upgrade a:hover {
    transform: scale(1.5);
}


/* navigazione main */
#navigazione-main {
    margin-top: 70px;
}
#navigazione-main nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
#navigazione-main nav ul li {
    margin: 0 10px;
}
#navigazione-main nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255, .5);
}
#navigazione-main nav ul li a:hover {
    color: white;
}

/* ascoltati di recente */
.centratura{
    padding: 20px;
}

#ascoltati-di-recente {
    color: white;
}
#ascoltati-di-recente h1 {
    margin-bottom: 20px;
}

#canzoni {
    display: flex;
    justify-content: space-between;
}
.anteprime {
    height: 200px;
    width: 200px;
    margin-bottom: 80px;
    
}
.anteprime img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}



.anteprime h3,h4 {
    text-align: center;
    margin-bottom: 5px;
}
.anteprime h3{
    color: white;
}
.anteprime h4 {
    font-size: 10px;
    color: rgb(255, 255, 255, .5);
}

/* mix */
#titolo-mix h1 {
    color: white;
    margin-bottom: 10px;
}
#titolo-mix h3 {
    font-size: 10px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255, .5);
}


 #mix::after {
    content: "";
    display: table;
    clear: both;
} 
.anteprime-mix {
    float: left;
    height: 200px;
    width: 200px;
    margin-bottom: 50px;
   
}
.anteprime-mix img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.anteprime-mix h3{
    color: white;
    text-align: center;
}
.destra {
    margin-left: 95px;
}

/* artisti popolari */
.popolari {
    float: left;
    height: 200px;
    width: 200px;
    margin-bottom: 50px;
    
}
.popolari img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.popolari h3{
    color: white;
    text-align: center;
}



/* regole player */

#player::after {
    content: "";
    display: table;
    clear: both;
}
#box-player {
    height: 100px;
    background-color: grey;
}